<div class="container">
  <div>
    <ul>
      <li *ngFor="let course of courseArray">
        <h4 class="text-primary">{{ course.courseName }}</h4>
      </li>
    </ul>
  </div>
  <hr />
  <div class="row">
    <div class="form-group col-lg-5">
      <h3 class="text-primary">Add Course</h3>
      <form #courseAddForm="ngForm" (ngSubmit)="addCourse(courseAddForm)">
        <div>
          <label>Course Name</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <input
            type="text"
            #courseName="ngModel"
            ngModel
            name="courseName"
            class="form-control"
            required
          />
          <br />
          <div
            *ngIf="courseName.touched && courseName.invalid"
            class="error alert alert-warning"
          >
            Course Name is Required !!
          </div>
        </div>
        <br />
        <div>
          <label>Course Duration</label>&nbsp;
          <input
            type="number"
            #courseDuration="ngModel"
            ngModel
            name="courseDuration"
            class="form-control"
            required
          />
          <br />
          <div
            *ngIf="courseDuration.touched && courseDuration.invalid"
            class="error alert alert-warning"
          >
            Course Duration is Required !!
          </div>
        </div>
        <div>
          <label>Course Price</label>&nbsp;
          <input
            type="number"
            #coursePrice="ngModel"
            ngModel
            name="coursePrice"
            class="form-control"
            required
          />
          <br />
          <div
            *ngIf="coursePrice.touched && coursePrice.invalid"
            class="error alert alert-warning"
          >
            Course Price is Required !!
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Add</button>
        &nbsp;&nbsp;
        <button type="reset" class="btn btn-danger">Reset</button>
        &nbsp;&nbsp;
        <a class="btn btn-warning" role="button" routerLink="">Go Back</a>
      </form>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="form-group" class="col-lg-5">
      <h3 class="text-primary">Get Course Duration</h3>
      <form #getForm="ngForm" (ngSubmit)="getDuration(getForm)">
        <label>Course Name</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input
          type="text"
          #name="ngModel"
          ngModel
          name="name"
          class="form-control"
          required
        />
        <br />
        <div
          *ngIf="name.touched && name.invalid"
          class="error alert alert-warning"
        >
          Course Name is Required !!
        </div>

        <button type="submit" class="btn btn-primary">Get Duration</button>
        &nbsp;&nbsp;
        <button type="reset" class="btn btn-danger">Reset</button>
        &nbsp;&nbsp;
        <a class="btn btn-warning" role="button" routerLink="">Go Back</a>
      </form>
      <br />

      <h3 class="text-primary" *ngIf="courseDuration1">
        Duration of the course:&nbsp;{{ courseDuration1 }}
      </h3>
      <div *ngIf="invalidName">
        <div class="error alert alert-warning">
          Invalid Course Name
        </div>
      </div>
    </div> 
  </div>
</div>
